.header__lang-link {
  margin-right: 18px;
  text-align: right;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFF;
  transition: .5s linear;
}
.header__lang-link:last-child {
  text-decoration: none;
  margin-right: 0px;
}
.header__lang-link:hover { /*ссылка плавно становится немного прозрачной*/
  opacity: .4; /*по проекту 0.8 но так заметнее смотрится*/
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
