.footer__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  transition: .5s linear;
}
.footer__link:hover { /*ссылка плавно становится немного прозрачной*/
  opacity: .4; /*по проекту 0.8 но так заметнее смотрится*/
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
